/* http://www.robomatix.net
V 0.0.1
Started monday 29 July 2013 by Robomatix Rebirth
V 1.0.0 Beta released on the 03 August 2013
Licence GNU GPL
* */

/* CSS RESET */
@charset "utf-8";

/* CSS RESET */
@import url(reset.css);

/* STYLING THE PAGE */
html{
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	background-color: green;
}
#containerCarreNoirGame{
	position: relative;
	width: 400px;
	height: 400px;
	margin: 50px auto 10px auto;
	border: 10px solid black;
	background-color: black;
	overflow: hidden;
}
#score{
	position: absolute;
}
#restartShareButton{
	position: relative;
	top:-50000000px;
	width: 460px;
	text-align: center;
}
#restartShareButton p{
	font-size: 22px;
	font-weight: bold;
}
#containerCarreNoirGame p{
	position: relative;
	margin: 20px 20px 0 20px;
	color: green;
	display: inline-block;
	z-index:69;
}
#containerCarreNoirGame #container,
#containerCarreNoirGame #transitionLevel{
	position: absolute;
	top:0;
	display: block;
	width: 400px;
	height: 400px;
	background-color: green;
	z-index:88;
}
#containerCarreNoirGame #container{
	background-color: yellow;
}

/* STYLING THE LEVEL TRANSITION */
#containerCarreNoirGame #transitionLevel{
	background-color: green;
	z-index: 99;
}
#containerCarreNoirGame #transitionLevel p{
	float: left;
	margin: 0;
	width: 100%;
	text-align: center;
	color: black;
}
#containerCarreNoirGame #transitionLevel #exclamation{
	font-size: 370px;
}
#containerCarreNoirGame #transitionLevel.black{
	background-color: black;
}
#containerCarreNoirGame #transitionLevel.black #exclamation
{
	color: green;
}
#containerCarreNoirGame #transitionLevel #levelReached{
	position: absolute;
	top: 320px;
	z-index: 4;
	padding: 3px 0;
	color: yellow;
	font-size: 32px;
	font-weight: bold;
}
#containerCarreNoirGame #transitionLevel #greenPicture{
	position: absolute;
	z-index: 3;
}
#containerCarreNoirGame #transitionLevel #normalPicture{
	position: absolute;
	z-index: 2;
}
