/* http://www.robomatix.net
V 0.0.1
Started monday 29 July 2013 by Robomatix Rebirth
V 1.0.0 Beta released on the 03 August 2013
V 1.0.0 Beta2 released on the 08 August 2013
V.1.0.0 Beta3 released on the 14 September 2013
Licence GNU GPL
* */

/* CSS RESET */
@charset "utf-8";

/* CSS RESET */
@import url(reset.css);

/* STYLING THE PAGE */
html{
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	background-color: gray;
}
#score{
	position: relative;
	width: 500px;
	height: 60px;
	margin: 10px auto 0 auto;
	text-align: center;
}
#shareScoreButtons{
	position: absolute;
	top:-50000000px;
	left: 50%;
	margin-left: -260px;
	width: 520px;
	text-align: center;
	z-index: 777;
}
#shareScoreButtons p{
	color: yellow;
	padding-bottom: 7px;
}
#containerCarreNoirGame{
	position: relative;
	width: 500px;
	height: 500px;
	margin: 0 auto;
	border: 10px solid black;
	background-color: black;
	overflow: hidden;
}
#restartShareButton p{
	font-size: 22px;
	font-weight: bold;
}
#containerCarreNoirGame p{
	position: relative;
	margin: 20px 20px 0 20px;
	color: green;
	display: inline-block;
	z-index:69;
}
#containerCarreNoirGame #container,
#containerCarreNoirGame #transitionLevel{
	position: absolute;
	top:0;
	display: block;
	width: 100%;
	height: 100%;
	background-color: green;
	z-index:88;
}
#containerCarreNoirGame #container{
	background-color: yellow;
	display:none;
}

/* STYLING THE LEVEL TRANSITION */
#containerCarreNoirGame #transitionLevel{
	background-color: green;
	z-index: 99;
}
#containerCarreNoirGame #transitionLevel p{
	float: left;
	margin: 0;
	width: 100%;
	text-align: center;
	color: black;
}
#containerCarreNoirGame #transitionLevel #exclamation{
	font-size: 480px;
}
#containerCarreNoirGame #transitionLevel.black{
	background-color: black;
}
#containerCarreNoirGame #transitionLevel.black #exclamation
{
	color: green;
}
#containerCarreNoirGame #transitionLevel.red{
	background-color: red;
}
#containerCarreNoirGame #transitionLevel.red #exclamation
{
	color: yellow;
}
#containerCarreNoirGame #transitionLevel #levelReached{
	position: absolute;
	top: 360px;
	z-index: 4;
	padding: 3px 0;
	color: yellow;
	font-size: 32px;
	font-weight: bold;
}
#containerCarreNoirGame #transitionLevel #restart{
	position: absolute;
	top: 400px;
	z-index: 4;
	font-weight: bold;
	width: 100%;
	color: yellow;
	font-size: 18px;
}
#containerCarreNoirGame #transitionLevel #greenPicture{
	position: absolute;
	z-index: 3;
}
#containerCarreNoirGame #transitionLevel #normalPicture{
	position: absolute;
	z-index: 2;
}
a.goToFooter{
	width: 520px;
	margin: 0 auto 20px auto;
	display: block;
	padding: 5px 0;
	color: green;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
	background-color: black;
}
a.goToFooter:hover{
	color: yellow;
}
#gameTitle,
#infoFocus{
	width: 100%;
	margin: 10px 0;
	text-align: center;
	font-size: 0.90em;			
}
#gameTitle{
	margin-bottom: 0;
	font-size: 1.8em;
}
#infoFocus{
	margin-bottom: 200px;		
}
img.fleche{
	display: block;
	width: 400px;
	margin: 20px auto;
	clear: both;
}
footer{
	margin-top: 777px;
	width: 100%;
	background-color: black;
	text-align: center;
	padding-bottom: 20px;
}
footer p.shareYourScorePage{
	color: yellow;
	font-size:18px;
	padding: 15px 0; 
}
footer .fb-like{
	width: 300px;
	margin: 15px auto;
	display: block;
}
footer a.goToTop{
	width: 500px;
	margin: 200px auto;
	color: green;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.2em;
	display: block;
}
footer a.goToTop:hover{
	color: yellow;
}
