/* http://www.robomatix.net
 V 0.0.1
 Started monday 29 July 2013 by Robomatix Rebirth
*/

/* CSS RESET */
@import url(reset.css);

/* STYLING */
html{
	font-family: Arial, Helvetica, sans-serif;
	color: green;
	background-color: black;
}
